<aside id="current-events" class="notice">
      <div class="container pb-6 md:pb-8">
        <div class="flex flex-col">
          <div class="mt-5 md:mt-7">
            <h2 class="text-lg sm:text-xl font-semibold">Sign up today</h2>
            <p class="mt-1.5">Sign ups are now open for these programs/events at BSC (last updated: 11/19/2022):</p>
          </div>
          <div class="flex flex-col md:flex-row">
            <div class="mt-4 md:mt-6">
              <h3 class="font-semibold">Adult programs</h3>
              <div class="flex flex-col md:flex-row">
                <ul class="md:inline-block">
                  <li class="mt-2"><a
                    href="https://member.daysmartrecreation.com/#/online/olypensports/programs/level/376?facility_ids=1">
                    Adult Beginners Soccer Class</a><br />(<a href="https://member.daysmartrecreation.com/#/online/olypensports/programs/level/376?facility_ids=1">sign up</a>)</li>
                  <li class="mt-2"><a
                    href="/soccer">
                    Adult Soccer Leagues</a><br />(<a href="https://member.daysmartrecreation.com/#/online/olypensports/programs/1/level?facility_ids=1">sign up</a>)</li>
                  <li class="mt-2"><a
                    href="https://member.daysmartrecreation.com/#/online/olypensports/programs/level/359?facility_ids=1">
                    Adult Irish Dance - 6 Class Session</a><br />(Ages: 12yrs+; <a href="https://member.daysmartrecreation.com/#/online/olypensports/programs/level/359?facility_ids=1">sign up</a>)</li>
                  <!-- <li class="mt-2"><a
                    href="https://member.daysmartrecreation.com/#/online/olypensports/programs/level/364?facility_ids=1">
                    Craft and Sip</a><br />(<a href="https://member.daysmartrecreation.com/#/online/olypensports/programs/level/364?facility_ids=1">sign up</a>)</li> -->
                  <li class="mt-2"><a
                    href="/cornhole">
                    Cornhole</a><br />(<a href="https://member.daysmartrecreation.com/#/online/olypensports/programs/10/level?facility_ids=1">sign up</a>)</li>
                </ul>
                <ul class="md:inline-block">
                  <li class="mt-2"><a
                    href="https://member.daysmartrecreation.com/#/online/olypensports/programs/level/363?facility_ids=1">
                    Embroidery</a><br />(<a href="https://member.daysmartrecreation.com/#/online/olypensports/programs/level/363?facility_ids=1">sign up</a>)</li>
                  <!-- <li class="mt-2"><a
                    href="/redefine-fitness">
                    Fitness Bootcamps by Redefine Fitness</a><br />(Ages: 16yrs+; <a href="https://member.daysmartrecreation.com/#/online/olypensports/programs/level/351?facility_ids=1">sign up</a>)</li> -->
                  <li class="mt-2"><a
                    href="https://member.daysmartrecreation.com/#/online/olypensports/programs/level/362?facility_ids=1">
                    HIGH Fitness</a><br />(<a href="https://member.daysmartrecreation.com/#/online/olypensports/programs/level/362?facility_ids=1">sign up</a>)</li>
                  <!-- <li class="mt-2"><a
                    href="https://member.daysmartrecreation.com/#/online/olypensports/programs/level/366?facility_ids=1">
                    Paint and Sip</a><br />(<a href="https://member.daysmartrecreation.com/#/online/olypensports/programs/level/366?facility_ids=1">sign up</a>)</li> -->
                  <li class="mt-2"><a
                    href="https://member.daysmartrecreation.com/#/online/olypensports/programs/level/355?facility_ids=1">
                    Yoga</a><br />(<a href="https://member.daysmartrecreation.com/#/online/olypensports/programs/level/355?facility_ids=1">sign up</a>)</li>
                </ul>
              </div>
            </div>
            <div class="mt-4 md:mt-6 md:ml-8">
              <h3 class="font-semibold">Youth programs</h3>
              <div class="flex flex-col md:flex-row">
                <ul>
                  <li class="mt-2"><a
                    href="/force-development-program">
                    Force Development Program</a><br />(Ages: 9 - 17yrs; <a href="https://member.daysmartrecreation.com/#/online/olypensports/programs/6/level?facility_ids=1">sign up</a>)</li>
                  <li class="mt-2"><a
                    href="/rising-force-academy">
                    Rising Force Academy</a><br />(Ages: 1.5 - 8yrs; <a href="https://member.daysmartrecreation.com/#/online/olypensports/programs/5/level?facility_ids=1">sign up</a>)</li>
                  <li class="mt-2"><a
                    href="/ape">
                    Youth Athletics Program by APE</a><br />(Ages: 8 - 17yrs; <a href="https://member.daysmartrecreation.com/#/online/olypensports/programs/level/337?facility_ids=1">sign up</a>)</li>
                  <li class="mt-2"><a
                    href="https://member.daysmartrecreation.com/#/online/olypensports/programs/level/360?facility_ids=1">
                    Youth Ballet</a><br />(Ages: 2 - 10yrs; <a href="https://member.daysmartrecreation.com/#/online/olypensports/programs/level/360?facility_ids=1">sign up</a>)</li>
                </ul>
                <ul>
                  <li class="mt-2"><a
                    href="https://member.daysmartrecreation.com/#/online/olypensports/programs/level/357?facility_ids=1">
                    Youth Irish Dance - 6 Class Session</a><br />(Ages: 3 - 6yrs; <a href="https://member.daysmartrecreation.com/#/online/olypensports/programs/level/357?facility_ids=1">sign up</a>)</li>
                  <li class="mt-2"><a
                    href="https://member.daysmartrecreation.com/#/online/olypensports/programs/level/358?facility_ids=1">
                    Youth Irish Dance - 6 Class Session</a><br />(Ages: 7 - 11yrs; <a href="https://member.daysmartrecreation.com/#/online/olypensports/programs/level/358?facility_ids=1">sign up</a>)</li>
                  <li class="mt-2"><a
                    href="/youth/soccer/leagues">
                    Youth Soccer Leagues</a><br />(U5 - U18 leagues; team sign-ups full;<br />house team roster spots available: <a href="https://member.daysmartrecreation.com/#/online/olypensports/programs/2/level?facility_ids=1">sign up</a>)</li>
                </ul>
              </div>
            </div>
            <!-- <div class="mt-4 md:mt-6 md:ml-8">
              <h3 class="font-semibold">Events</h3>
              <div class="flex flex-col md:flex-row">
                <ul>
                  <li class="mt-2"><a
                    href="https://www.facebook.com/BremertonSportsCenter/posts/pfbid02PiDaLPnWeUKAx9dk16xkF4wYrRc3DBCq3f6ijEpgpKrH2aszew7hv2xBA96Ru3P9l">
                    Indoor "Trunk or Treat" Event</a><br />(October 29<sup>th</sup>, 2022 @ 6-8pm; all ages)</li>
                </ul>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </aside>