@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	padding-bottom: 3rem;
	text-rendering: optimizeLegibility;
}

a,
a:visited {
	@apply text-blue-800;
}

a:hover {
	@apply text-blue-600;
}

a:focus,
a:active {
	@apply text-blue-400;
}

header a,
header a:visited,
header a:hover,
header a:focus,
header a:active {
	@apply text-black;
}