@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	padding-bottom: 3rem;
	text-rendering: optimizeLegibility;
}

a,
a:visited {
	@apply text-blue-800;
}

a:hover {
	@apply text-blue-600;
}

a:focus,
a:active {
	@apply text-blue-400;
}

a.text-gray,
a.text-gray:visited {
	@apply text-gray-300;
}

a.text-gray:hover {
	@apply text-gray-200;
}

a.text-gray:focus,
a.text-gray:active {
	@apply text-gray-100;
}

header a {
	@apply font-semibold;
}

header a > h1,
header a:visited > h1,
header a:hover > h1,
header a:focus > h1,
header a:active > h1 {
	@apply font-normal;
	@apply text-black;
	font-family: 'Holtwood One SC';
}

ul,
ol {
	@apply list-outside;
	@apply mx-7;
}

ol {
	@apply list-decimal;
}

ul {
	@apply list-disc;
}

hr {
	@apply border-gray-300;
}

dt {
	@apply font-semibold;
}

.divider {
	@apply text-border-color;
}

.notice {
	background-color: rgb(21 161 212 / 0.5);
}

.notice a,
.notice a:visited,
.notice a:hover,
.notice a:active,
.notice a:focus {
	@apply font-semibold;
}

.badge {
	@apply select-none;
	@apply inline-block;
	@apply rounded-full;
	@apply border;
	@apply border-gray-300;
	@apply bg-white;
	@apply px-2;
	@apply py-1;
	@apply text-xs;
	@apply font-medium;
	@apply text-black;
}

.badge--state-green {
	@apply border-green-100;
	@apply bg-green-100;
	@apply text-green-800;
}

.badge--state-red {
	@apply border-red-100;
	@apply bg-red-100;
	@apply text-red-800;
}

.badge--state-purple {
	@apply border-purple-100;
	@apply bg-purple-100;
	@apply text-purple-800;
}

.site-footer svg.icon {
	display: inline-block;
	vertical-align: text-top;
	@apply fill-slate-400;
	width: 1rem;
	height: 1rem;
	margin-right: 0.175rem;
}