@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	padding-bottom: 3rem;
	text-rendering: optimizeLegibility;
}

a,
a:visited {
	@apply text-blue-800;
}

a:hover {
	@apply text-blue-600;
}

a:focus,
a:active {
	@apply text-blue-400;
}

header a {
	@apply font-semibold;
}

header a > h1,
header a:visited > h1,
header a:hover > h1,
header a:focus > h1,
header a:active > h1 {
	@apply font-normal;
	@apply text-dark-blue;
	font-family: 'Holtwood One SC';
}

ul,
ol {
	@apply list-outside;
	@apply mx-7;
}

ol {
	@apply list-decimal;
}

ul {
	@apply list-disc;
}

hr {
	@apply border-gray-300;
}

.divider {
	@apply text-border-color;
}