@font-face {
	font-family: 'Holtwood One SC';
	src: url('../assets/fonts/HoltwoodOneSC-Regular.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	padding-bottom: 3rem;
	text-rendering: optimizeLegibility;
}

a,
a:visited {
	@apply text-blue-800;
}

a:hover {
	@apply text-blue-600;
}

a:focus,
a:active {
	@apply text-blue-400;
}

.hero-image-container {
	background-image: linear-gradient(rgba(0,0,0,.55) 60px, transparent 310px);
}