.hero-image-container {
	@apply w-full;
	height: 25vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 25%;
	background-image: url("../../assets/images/center/field-turf.jpg");
}